<h1 class="jumbotron"><%= @line.name %></h1>

<h3>This is the homepage of <i><%= @line.name %></i>!? Thank you for coming!</h3>
<%= link_to "Delete", line_path(@line), :confirm => "Are you certain?", :method => "delete", :class => "btn btn-danger" %><br><br>
<p><%= link_to "Main Lines Page", lines_path, :class => "btn btn-warning" %></p>
