<h1 class="jumbotron"><%= @station.name %></h1>

<h3>This is the homepage of <i><%= @station.name %></i>!? Thank you for coming!</h3>
<%= link_to "Delete", station_path(@station), :confirm => "Are you certain?", :method => "delete", :class => "btn btn-danger" %><br><br>
<p><%= link_to "Main Stations Page", stations_path, :class => "btn btn-warning" %></p>
