/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require 'bootstrap'
 */
.redstuff a{
  color: firebrick;
  font-weight: 600;
}

.name {
  color: darkolivegreen;
  font-weight: 500;
}

.container {
  margin-top: 100px;
  background-color: blanchedalmond;
  color: #522900;
  border-radius: 10px;
}

body {
  background: url('oronce-fine-map.jpg');
  background-size: 100%;
  width: 100%;
}


.header {
  background: darkgoldenrod;
  width: 40%;
  text-align: center;
  margin: 18px auto;
  padding-top: 8px;
  color: #522900;
  border-radius: 20px;
  height: 100px;
  font-weight: 600;
}

.header h1 {
  display: inline-block;
  vertical-align: center;
  font-weight: 600;
}
